h1 {
    text-align: center;
    color: white;
}

div {
    color: white;
    align-items: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
    align-items: center;
}

.child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}